/bin
/hack/tools/bin
/.kube-secrets
/tmp/*
/dev
/local
*.test
/ext-authz-server

*.coverprofile
/cover.out
*coverprofile.out
*.html
.vscode
.idea
.DS_Store
*~

.cache_ggshield
.gitguardian.yaml

# gosec
gosec-report.sarif
